<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="aimbotActive" value="True" />
		<add key="radarActive" value="True" />
		<add key="bhopActive" value="True" />
		<add key="antiflashActive" value="True" />
		<add key="aimbotFOV" value="90" />
		<add key="fovDecMult" value="0" />
		<add key="teamESP" value="True" />
		<add key="enemyESP" value="2" />
		<add key="triggerActive" value="True" />
		<add key="recoilControlFactor" value="1.02" />
		<add key="boneId" value="8" />
		<add key="aimTime" value="66" />
		<add key="overaimActive" value="true" />
		<add key="overaimFactor" value="0.1" />
		<add key="silentAimActive" value="false" />
		<add key="antitransferAmount" value="0.4" />
		<add key="enemyR" value="255" />
		<add key="enemyG" value="85" />
		<add key="enemyB" value="85" />
		<add key="friendlyR" value="64" />
		<add key="friendlyG" value="153" />
		<add key="friendlyB" value="255" />
 </appSettings>
</configuration>